*{
    margin: 0;
    padding: 0;
}

.main{
    height: 90vh;
    background-image: url(Bg-img.jpg);
    background-repeat: no-repeat;
    filter: brightness(0.6)
}

/* Navigation Section */

header{
    height: 15vh;
}

.navbar{
    height: 50px;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-buttons{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-select{
    height: 30px;
    width: 96px;
    background: none;
    color: white;
    font-weight: 800;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
}

button{
    background-color: red;
    height: 30px;
    width: 74px;
    font-weight: 700;
    border: none;
    color: white; 
}

/* Main content */

.main-content{
    position: absolute;
    left: 17%;
    top: 40%;
    color: #ffffff;
}

.main-content h1{
    font-size: 3rem;
    font-weight: 800;
}

.main-content h3{
    font-size: 1.25rem;
    font-weight: 500;
}